{% extends 'coments/main_page.html' %}
{% block content %}
    {% load static %}
    <link  href="{% static 'publication.css' %}" rel="stylesheet">

    <div class="full_block">
    <div class = "publication">
         <p>{{ post.text }}</p>
        <img  src={% static post.image %} alt="Photo", class="img-responsive">

         {% for i in post.topics.values %}
        <p class="tag">{{i.name}}</p>

        {% endfor %}
        <p>{{ post.author}}</p>
        <p>{{post_like}}</p>

        <a class="button_style_delete" href="delete/{{post.id }}" >Delete post</a>

    </div>
    <div class="comment">
        {% for i in comment.values %}
        <p>{{i.comment}}</p>
        <p>{{i.comment_likes}}</p>
    {% endfor %}

    </div>


    </div>


    <a class="button_style_back" href="{% url 'new_publications' %}">Back</a>

{% endblock %}