html {
  background-color: #edffee;
    top: 30%
}


body {
  text-align: center;
   color: #113e41;
   background: -webkit-linear-gradient(right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
   background: -o-linear-gradient(right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
   background: linear-gradient(to right, #E3612C 0, #E3612C 33.3%, #FCCE30 33.3%, #FCCE30 66.6%, #58554B 66.6%, #58554B) bottom no-repeat;
   background-size: 70% 5px;
    height: 450px;

}

.start_text {
    margin-top: 5%;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;


}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
   font-style: italic;
}


.post {
   max-width: 350px;
   margin: 50px auto 0;
   padding: 20px;
   background: #FCCE30;
   font-family: 'Oswald', sans-serif;
}

.submit-block {

   text-align: center;
   cursor: pointer;

}

.submit-button {
   display: inline-block;
   padding: 5px 10px;
   background: #FCCE30;
    width: 250px;
}

.submit-button input {
   padding: 0;
   background: #FCCE30;
   border-width: 0;
   text-transform: uppercase;
   cursor: pointer;
}

.form-group {
   margin-bottom: 20px;
   padding: 10px;


}
.form-group input, .form-group label, .form-group textarea {
   width: 30%;

}
.form-group input {
   padding: 0;
   line-height: 30px;
   border-width: 0;

}

.stripes-block {
    margin-top: 50px;
   position: relative;
   padding: 10px 10px 15px;
   margin-bottom: 20px;
   color: #113e41;

}

a{
   text-decoration: none;
   color: rgb(121, 121, 121);
   background-size:100% 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-registration{
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 30%;


}
.form-registration textarea {
    background-color: #8ea5bb;
    text-align: center;
   /*cursor: pointer;*/

}
.form-registration label{
    margin-left: 40px;
    margin-right: 40px;

}